<h2>Welcome to Cloudgene!</h2>
<div class="row">
  <div class="span8">

<h3>Congratulations!</h3>

<div class="alert alert-success">
The webserver was installed successfully!
</div>

<hr>

<h3>What's next?</h3>


<p>Since this is a fresh installation of Cloudgene, please perform the following steps to complete the installation:

<div class="well well-small">
<b>1.</b> Login as admin with the default admin password
</div>

<div class="well well-small">
<b>2.</b> Change your password immediately (see <a href="/#!pages/profile">Profile</a>)
</div>

<div class="well well-small">
<b>3.</b> Go to <a href="/admin.html">Admin-Panel</a> and set the path to your <b>Hadoop Installation</b> and configure your <b>Mail-Server</b>
</div>

<div class="well well-small">
<b>4.</b> <b>Run</b> the preconfigured application to ensure that Cloudgene detected your Hadoop cluster and works properly.
</div>




<div id="login-form">

</div>


<hr>