/target
/config
/data
/hadoop-config
/tmp
/version.txt
/cloudgene
/site
/test-cluster
/test-database
/test-github
/workspace
*.log
*.log.*
/job-*
/src/main/html/webapp/tmp
/src/main/html/webapp/dist
/src/main/html/webapp/node_modules
/apps
*.DS_Store
