<h4>Import data from public URLs</h4>
<p>Please enter your URLs. </p>
<form>
    <textarea class="form-control" id="urls" placeholder="http://www.example.com/test-data.txt" rows="8" name="urls" width="30" height="20"><%= value %></textarea>
    <small class="text-muted">To specify more than one url, separate the urls with a space or new line.</small>
</form>
