<h4>Secure File Transfer Protocol (SFTP)</h4>
<p>Please enter your SFTP connection informations.</p>
<form>
    <div class="form-group">
        <label>Username</label>
        <input type="text" id="username" value="" class="form-control">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" value="" class="form-control">
    </div>
    <div class="form-group">
        <label>Files:</label>
        <textarea class="form-control" id="path" placeholder="sftp://192.168.71.201/home/user/data/file.txt" rows="6" name="urls" width="30" height="20"></textarea>
        <small class="text-muted">To specify more than one file, separate the files with a space or new line.</small>
    </div>
</form>
