<h2>Welcome to Cloudgene Docker! <img src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f433.png" ></h2>
<div class="row">
  <div class="span8">

<div class="alert alert-success">
Your <b>Cloudgene</b> container is running...
</div>

<hr>

<h3>What's next?</h3>


<p>Since this is a fresh installation of Cloudgene, please perform the following steps to complete the installation:

<div class="well well-small">
<b>1.</b> Login as admin with the default admin password
</div>

<div class="well well-small">
<b>2.</b> If this Cloudgene instance is public available, <b>change your password</b> immediately
</div>

<div class="well well-small">
<b>3.</b> Start <b><a href="" target="_blank">installing applications</a></b> or learn more about how to use this <b><a href="" target="_blank">Docker image</a></b>
</div>
