<h2>Contact</h2>

<p>Cloudgene is developed at the <a href="http://www3.i-med.ac.at/genepi/">Division of Genetic Epidemiology Innsbruck</a> in cooperation with the <a href="http://www.sph.umich.edu/csg/abecasis">Center for Statistical Genetics, University of Michigan</a>. Special thanks goes to Christian Fuchsberger and Goncalo Abecasis supported by the <a href="http://www.fwf.ac.at/">FWF Austrian Science Fund</a> and the <a href="http://www.nih.gov/">U.S. National Institutes of Health</a>.</p>

<h3 id="main-contributors">Main Contributors</h3>

<p><img src="https://avatars2.githubusercontent.com/u/210220?s=30" alt="alt text">
 <a href="mailto:lukas.forer@i-med.ac.at">Lukas Forer</a> (<a href="https://twitter.com/lukfor">@lukfor</a>)</p>

<p><img src="https://avatars2.githubusercontent.com/u/1942824?s=30" alt="alt text">
 <a href="mailto:sebastian.schoenherr@i-med.ac.at">Sebastian Schoenherr</a> (<a href="https://twitter.com/seppinho">@seppinho</a>)</p>
<br>
<h3 id="contributors">Contributors</h3>

<ul>
  <li>Christian Fuchsberger</li>
  <li>Hansi Weissensteiner</li>
  <li>Goncalo Abecasis</li>
  <li>Florian Kronenberg</li>
</ul>
