body {
  padding-top: 56px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.job-header {
  margin-top: 15px;
}

.job-header a {
  color: #000000;
}

.status {
  height: 80px !important;
  padding-top: 0px !important;
  line-height: 80px !important;
  width: 80px !important;
  font-size: 40px !important;
  margin-right: 20px;
  filter: alpha(opacity=60) !important;
  /* IE */
  -moz-opacity: 0.6 !important;
  /* Mozilla */
  opacity: 0.6 !important;
}

.status-xs {
  height: 40px !important;
  padding-top: 0px !important;
  line-height: 40px !important;
  width: 40px !important;
  font-size: 20px !important;
  margin-right: 10px;
}

.job-success {
  border-left-width: 10px !important;
  border-left-color: #28a745 !important;
}

.job-danger {
  border-left-width: 10px !important;
  border-left-color: #dc3545 !important;
}

.job-primary {
  border-left-width: 10px !important;
  border-left-color: #0062cc !important;
}

.job-warning {
  border-left-width: 10px !important;
  border-left-color: #ffc107 !important;
}

.job-secondary {
  border-left-width: 10px !important;
  border-left-color: rgba(52, 58, 64, 0.6) !important;
}

.job-dark {
  border-left-width: 10px !important;
  border-left-color: #343a40 !important;
}

.step {}

.step-success {
  border-left-width: 3px !important;
  border-left-color: #28a745 !important;
}

.step-danger {
  border-left-width: 3px !important;
  border-left-color: #dc3545 !important;
}

.step-primary {
  border-left-width: 3px !important;
  border-left-color: #0062cc !important;
  animation: colorchange 3s !important;
  animation-iteration-count: infinite !important;
}

@keyframes colorchange {
  0% {
    border-left: 3px solid rgba(8, 85, 178, 1);
  }

  50% {
    border-left: 3px solid #7AB7FF;
  }

  100% {
    border-left: 3px solid rgba(8, 85, 178, 1);
  }
}

.step-warning {
  border-left-width: 3px !important;
  border-left-color: #ffc107 !important;
}

.file-list-control {
  overflow: auto;
  height: 200px !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

.file-list {
  margin-left: 1.5em;
}

.border-top {
  border-top-color: rgba(0, 0, 0, 0.125);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
}

.page {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
  margin-top: 0px;
  padding: 15px;
}

.page-header {
  /*background: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.16);*/
  margin-top: 0px;
  padding: 15px;
}

.card-shadow {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.log-pane {
  font-size: 14px;
}

.step .badge {
  background: #6c757d;
  color: #fff;
  font-size: 10px !important;
  margin-right: 5px !important;
}

.step .badge-danger {
  background: #b94a48 !important;
  color: #fff !important;
  font-size: 10px !important;
  margin-right: 5px !important;
}

.step .badge-info {
  background: #17a2b8 !important;
  color: #fff !important;
  margin-right: 5px !important;
}

.step .badge-success {
  background: #28a745 !important;
  color: #fff !important;
  font-size: 10px !important;
  margin-right: 5px !important;
}

.step .badge-important {
  background: #b94a48 !important;
  color: #fff !important;
  font-size: 10px !important;
  margin-right: 5px !important;
}


.app-header {
  padding: 5px !important;
  padding-left: 15px !important;
  font-size: 12px !important;
}

.category-header {
  padding: 5px !important;
  padding-left: 15px !important;
  font-size: 12px !important;
}

.tomorrow-night-eighties-ansi-theme{
  background-color: #393939;
  color: #EFEFEF;
  padding: 20px;
}

.ansi-black-fg { color: #3A3A3A; }
.ansi-red-fg { color: #DD948E; }
.ansi-green-fg { color: #B6D1AA; }
.ansi-yellow-fg { color: #F3D57C; }
.ansi-blue-fg { color: #8AA9D5; }
.ansi-magenta-fg { color: #CBAFD5; }
.ansi-cyan-fg { color: #9AD1D4; }
.ansi-white-fg { color: #EFEFEF; }
.ansi-bright-black-fg { color: #5E5D5E; }
.ansi-bright-red-fg { color: #E69B94; }
.ansi-bright-green-fg { color: #D1F0C3; }
.ansi-bright-yellow-fg { color: #F4D799; }
.ansi-bright-blue-fg { color: #A6CBFE; }
.ansi-bright-magenta-fg { color: #E7C7F2; }
.ansi-bright-cyan-fg { color: #B0F0F5; }
.ansi-bright-white-fg { color: #FFF; }

.ansi-black-bg { background-color: #3A3A3A; }
.ansi-red-bg { background-color: #DD948E; }
.ansi-green-bg { background-color: #B6D1AA; }
.ansi-yellow-bg { background-color: #F3D57C; }
.ansi-blue-bg { background-color: #8AA9D5; }
.ansi-magenta-bg { background-color: #CBAFD5; }
.ansi-cyan-bg { background-color: #9AD1D4; }
.ansi-white-bg { background-color: #EFEFEF; }
.ansi-bright-black-bg { background-color: #5E5D5E; }
.ansi-bright-red-bg { background-color: #E69B94; }
.ansi-bright-green-bg { background-color: #D1F0C3; }
.ansi-bright-yellow-bg { background-color: #F4D799; }
.ansi-bright-blue-bg { background-color: #A6CBFE; }
.ansi-bright-magenta-bg { background-color: #E7C7F2; }
.ansi-bright-cyan-bg { background-color: #B0F0F5; }
.ansi-bright-white-bg { background-color: #FFF; }
