<h4>Share Data</h4>
The private links for this folder are:<br><br>

<ul id="myTab" class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="#links" data-toggle="tab">Links to share (<%= files.length %>)</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#wget" data-toggle="tab">wget commands (<%= files.length %>)</a>
	</li>
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane active in" id="links">
	  <% value = '' %>
		<% files.each(function(output2){
			value += hostname  + '/share/results/' + output2.attr('hash') +'/'+ output2.attr('name') + '\n';
		 })%>
		 <textarea class="form-control" id="message" rows="10"><%= value %></textarea>
	</div>

	<% value2 = '' %>
	<% files.each(function(output2){
		value2 += 'wget ' + hostname  + '/share/results/' + output2.attr('hash') +'/'+ output2.attr('name') + '\n';
	 })%>
	<div class="tab-pane" id="wget">
	<textarea class="form-control" id="message" rows="10"><%= value2 %></textarea>
	</div>
</div>
