<h2>Log Files</h2>

<p>This page lists all log files.<br><br></p>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-log-cloudgene">
		cloudgene.log
	  </a>
	</div>
	<div id="collapse-log-cloudgene" class="accordion-body collapse">
		<pre id="log-cloudgene"></pre>
    </div>   
  </div>
  
  
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-log-access">
		access.log
	  </a>
	</div>
	<div id="collapse-log-access" class="accordion-body collapse">
		<pre id="log-access"></pre>
    </div>   
  </div>  
  
  
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-log-jobs">
		jobs.log
	  </a>
	</div>
	<div id="collapse-log-jobs" class="accordion-body collapse">
		<pre id="log-jobs"></pre>
    </div>   
  </div>  
      
</div>

