<h2>Sign up</h2>
<br>
<% if( data.success){ %>
    <div class="alert alert-success" id="success-message">
    <b>Well done!</b> Your account is now active. <a href="/">Login now</a>.
    <br>
    </div>
<% } %>


<% if(!data.success){ %>
    <div class="alert alert-error" id="success-message">
    <b>Oh snap!</b> <%= data.message %>
    <br>
    </div>
<% } %>