<h4>Deleting Account</h4>
<p>We will <b>immediately delete all of your jobs, along with all imputed data.</b></p>
<p>Your username will be available to anyone else on this site.</p>

<form id="delete-account-form">

<label for="username" class="control-label">Enter your username:</label>
<div class="controls">
<input name="username" type="text" data-required="true">
</div>
<br>
<label for="password" class="control-label">Enter your password:</label>
<div class="controls">
<input name="password" type="password">
</div>

</form>
