<h2>Sign in</h2>
<br>

      <form class="form-horizontal" id="signin-form">
        
            <div class="control-group">
    	<label for="loginUsername" class="control-label">Username:</label>
    	<div class="controls">
    	<input name="loginUsername" type="text" data-required="true">
    	</div>
    </div>

            <div class="control-group">
    	<label for="loginPassword" class="control-label">Password:</label>
    	<div class="controls">        
        <input name="loginPassword" type="password">
            	<span class="help-block"></span>
    	</div>
    </div>
                <div class="control-group">
                <div class="controls">        
        <button class="btn  btn-primary" type="submit">Sign in</button>
        
        </div>
        </div>
      </form>

<br>
<p>New user? <a href="#!pages/register">Sign up for free</a></p>
<p>Forgotten your password? <a href="#!pages/reset-password">Reset your password</a></p>