<h2><%= details.attr('name') %></h2>
<p><%== details.attr('description') %><br><br></p>
<form id="parameters" class="form-horizontal" action="/api/v2/jobs/submit/<%= details.attr('id') %>" method="POST" enctype="multipart/form-data"></form>

<div id="waiting-dialog" class="modal hide">
	<div class="modal-header">
		<h3>Uploading Data...</h3>
	</div>
	<div id="waiting-text" class="modal-body">
		<div class="progress progress-striped active">
			<div id="waiting-progress" class="bar" style="width: 1%;"></div>
		</div>
	</div>
</div>

<br>
<br>
<br><br>
