<h2>Reset Password</h2>

Please fill out the form below to change the password for user
<b><%= data.user %></b>.

<br>
<br>
<div class="alert alert-error" id="error-message" style="display: none"></div>

<div class="alert alert-success" id="success-message" style="display: none"></div>

<div id="update-page">
	<form id="update-password-form" class="form-horizontal">

		<input name="token" type="hidden" value="<%= data.key %>" hidden="true">
		<input name="username" type="hidden" value="<%= data.user %>" hidden="true">

		<div class="control-group">
			<label for="full-name" class="control-label">New Password:</label>
			<div class="controls">
				<input name="new-password" type="password">
			</div>
		</div>
    
		<div class="control-group">
			<label for="full-name" class="control-label">New Password (again):</label>
			<div class="controls">
				<input name="confirm-new-password" type="password">
				<span class="help-block"></span>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" type="submit">Update Account</button>
			</div>
		</div>

	</form>
</div>
