<h4>Install App from URL</h4>
<form onsubmit="return false;">
  <p>Please enter an unique id for the application:</p>
  <input class="form-control" id="id" name="id" value=""/>
  <p>Please enter the URL of the zip file of the application.</p>
  <input class="form-control" id="url" name="url" value="http://"/>
</form>
