<h2>Dashboard</h2>

<p><br><br></p>

<div class="row">

  <div class="span5">

<h3>Active Jobs</h3>

<div id="morris-area-chart"></div>
</div>
  <div class="span5">

<h3>Active Chromosomes</h3>

<div id="morris-area-chart2"></div>
</div>

  <div class="span5">

<h3>Complete Jobs</h3>

<div id="morris-area-chart4"></div>

</div>

  <div class="span5">

<h3>Complete Chromosomes</h3>

<div id="morris-area-chart3"></div>

</div>

  <div class="span5">

<h3>Users</h3>

<div id="morris-area-chart5"></div>

</div>


</div>

<h3>Counters</h3>

<p>The following counters where submitted by applications.</p>

<table class="table table-bordered" style="width: 700px;">

<% this.counter.attr('complete').each(function( value, key ) { %>

	<tr>
		<td><b><%== key %></b></td>
		<td style="width: 150px;"><%== value %></td>
	</tr>

<% }) %>

</table>