<h2>Jobs</h2>

<p>This page lists all submitted and running jobs.<br><br></p>

<h4>Preprocessing Queue</h4>

<table class="table table-striped table-bordered" id="job-list-running-stq">
</table>

<hr>

<h4>Imputation Queue</h4>

<table class="table table-striped table-bordered" id="job-list-running-ltq">
</table>

<hr>

<h4>Current Jobs</h4>

<table class="table table-striped table-bordered" id="job-list-current">
</table>
